h1 {
    color: #ac0d0d;
    text-align: center;
    font-size: 46px;
    font-family: "Abril Fatface", cursive;
  }
  p {
    text-align: center;
    font-size: 26px;
    font-family: "Zilla Slab", serif;
  }
  .weather-app-wrapper {
    max-width: 900px;
    margin: 30px auto;

  }
  .card {
    padding: 20px;
    border:1px solid #dadde1;
    border-radius: 20px;
  }
  .details {
    font-size: 20px;
    color: rgb(135, 135, 135);
    margin: 0 auto;
    padding: 0;
  }
  .days-forecast {
    text-align: center;
  }
  .days {
    text-align: center;
  }
  .city-info {
    font-size: 30px;
    font-weight: 600;
    color: #d49d42;
    font-family: "Zilla Slab", senrif;
  }
  #overall-weather {
    font-size: 30px;
    font-weight: 600;
    color: #d49d42;
    font-family: "Zilla Slab", senrif;
    text-align: center;
  }

  .weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
    text-decoration: none;
  }

  .weather-temperature .active:hover {
    text-decoration: underline; 
  }

  .currentTemp {
    font-family: "Zilla Slab", serif;
    color: #ac0d0d;
    font-size: 16px;
    text-align: center;
  }
  .forecast {
    color: black;
  }
  .weekdays {
    text-decoration: underline;
    font-size: 30px;
  
    font-weight: 500;
    font-family: "Abril Fatface", cursive;
  }
  .emoji {
    font-size: 36px;
  }
  
  .high-low {
    font-weight: 500;
    font-size: 36px;
    color: #ac0d0d;
    font-family: "Zilla Slab", serif;
  }
  .btn-success {
    background: #8fd9a8;
    border: #8fd9a8;
  }
  .btn-success:hover {
    background: #d2e69c;
    transition: 200ms all ease-in-out;
  }
  
  .btn-primary {
    background: #4b778d;
    border: #4b778d;
  }
  .btn-primary:hover {
    transition: 200ms all ease-in-out;
  }
  .fahrenheit-link {
    position: relative;
    font-size: 25px;
    top: -32px;
  }
  .fahrenheit-link:hover {
    color: #f48b29;
    transition: 200ms all ease-in-out;
    text-decoration: underline;
  }
  .celsius-link {
    position: relative;
    font-size: 25px;
    top: -32px;
  }
  .celsius-link:hover {
    color: #f48b29;
    transition: 200ms all ease-in-out;
    text-decoration: underline;
  }

  .currentTemp strong {
    font-weight: 900;
    color: rgb(33, 33, 33);
    font-size: 64px;

  }
  
  ul {
    list-style: none;
    font-size: 20px;
    color: rgb(135, 135, 135);
  }
  